@import './settings';

@import '~foundation-sites/assets/foundation';
@import '~nprogress/nprogress';

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 12em;
    margin-bottom: 2em;
}

/* Height */

$height: (0, 25, 50, 75, 100); // Amount string.

@each $amount in $height {
    .h#{$amount} {
        min-height: #{$amount}vh;
    }
    @include breakpoint(medium down) { 
    	.h-md-#{$amount} {
	        min-height: #{$amount}vh;
	    }
    }
    @include breakpoint(small) { 
    	.h-sm-#{$amount} {
	        min-height: #{$amount}vh;
	    }
    }
}

.h-auto {
    height:auto; /*Required for CSS Grid elements*/
    padding-bottom: 3em;
}

/* Typography */

$weight: (100, 200, 300, 400, 500, 600, 700, 800, 900); // Amount string.

@each $amount in $weight {
    .font#{$amount} {
        font-weight: #{$amount};
    }
}

$fastEffect:all .3s;
$slowEffect:all 1s;


.Section{
	&__Dark{
		background-color:$dark-gray;
		color: $white;
		.contactheading{
			color: $primary-color;
			padding-left:0!important;
		}
		#contactForm{
			input, textarea{
				border: 3px rgba(#333, 0.2) solid;
				background-color: rgba($tertiary-color, 0.15);
				color: $white;
				font-size: rem-calc(18);
				margin-bottom: rem-calc(15);
				&::placeholder{
					color:$primary-color;
				}
			}
			textarea{
				height: rem-calc(200);
			}
			button{
				border: 3px solid $primary-color;
				background-color: transparent;
				color: $primary-color;
				width: 100%;
			}
		}
	}
	&__Primary{
		background-color:$primary-color;
		color: $dark-gray;
		#contactForm{
			input, textarea{
				border: 3px rgba(#333, 0.2) solid;
				background-color: rgba(#333, 0.25);
				color: $dark-gray;
				font-size: rem-calc(18);
				&::placeholder{
					color:$white;
				}
			}
			textarea{
				height: rem-calc(200);
			}
			button{
				border: 3px solid $dark-gray;
				background-color: $medium-gray;
				color: $white;
				width: 100%;
			}
		}
	}
	&__main{
		padding:0 !important;
	}
}

.font{
	&__light{
		color: $white;
	}
}

.heading{
	padding:0;
	margin: 0;
	&__xxl{
		font-size: rem-calc(120);
		@include breakpoint(large down){
			font-size: rem-calc(72)
		}
		@include breakpoint(small only){
			font-size: rem-calc(42)
		}
	}
	&__xl{
		font-size: rem-calc(42);
		@include breakpoint(small only){
			font-size: rem-calc(32)
		}
	}
	&__lg{
		font-size: rem-calc(30)
	}
	&__md{
		font-size: rem-calc(25)
	}
	&__sm{
		font-size: rem-calc(20)
	}
	&__xs{
		font-size: rem-calc(16)
	}
	&__light{
		color: $white;
	}
	&__dark{
		color: $black
	}
	&__primary{
		color: $primary-color;
	}
	&__secondary{
		color: $secondary-color;
	}
	&__warning{
		color: $warning-color;
	}
	&__alert{
		color: $alert-color;
	}
	&__medium-grey{
		color: $medium-gray;
	}
	&__caps{
		text-transform: uppercase;
	}
	&__background-primary{
		background-color: $primary-color;
	}
	&__heading-font{
		font-family: $header-font-family
	}
	&__body-font{
		font-family: $body-font-family
	}
	&__line-height{
		line-height: .8;
	}
}
.box{
	transition: $fastEffect;
	&__white{
		background-color:$white;
	}
	&__primary{
		background-color:$primary-color;
	}
	&__alert{
		background-color:$alert-color;
		&__opacity{
			background-color:rgba($alert-color, .5);
		}
	}
	&__warning{
		background-color:$warning-color;
		&__opacity{
			background-color:rgba($warning-color, .5);
		}
	}
	&__light-grey{
		background-color:$light-gray;
	}
	&__medium-grey{
		background-color:$medium-gray;
	}
	&__dark-grey{
		background-color:$dark-gray;
	}
	&__alt-dark-grey{
		background-color:#5b5b5b;
	}
	&__shadow{
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	}
	&__shadow-hover{
		&:hover{
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
			transition: $fastEffect;
		}
	}
}
.colour{
	&__light{
		color: white;
	}
}
.bgImage{
	background-repeat:no-repeat;
	background-position:center;
	&__cover{
		background-size:cover;
	}
	&__16x9{
		padding-bottom:56%;
	}
	&__fixed{
		background-attachment: fixed;
	}
}
.border{
	&__bottom{
		border-bottom: 1px solid $primary-color;
	}
	&__right{
		border-right: 1px solid $primary-color;
	}
	&__left{
		border-left: 1px solid $primary-color;
	}
	&__top{
		border-top: 1px solid $primary-color;
	}
	&__thick{
		border-width: 5px;
	}
	&__medium{
		border-width: 3px;
	}
	&__dark-grey{
		border-color: $dark-gray;
	}
	&__medium-grey{
		border-color: $medium-gray;
	}
	&__light-grey{
		border-color: $light-gray;
	}
	&__alert{
		border-color: $alert-color;
	}
	&__warning{
		border-color: $warning-color;
	}
	&__radius{
		border-radius: rem-calc(5);
	}
}

.ruler{
	&__dark{
		border-bottom-color:$dark-gray;
	}
}

.grayscale{
	filter: grayscale(100%);
	transition:.5s;
	&:hover{
		filter: grayscale(0%);
		transition:.5s;
	}
}

.overflow{
	overflow-y: scroll;
}

$distance: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20); // Amount string.
$sides: (top, bottom, left, right); // Sides var

@each $amount in $distance {
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}#{$amount} {
            margin-#{$side}: #{$amount}em ;
        }
        .p#{str-slice($side, 0, 1)}#{$amount} {
            padding-#{$side}: #{$amount}em;
        }
    }
}

.root{
	position:relative;
}
.Layout{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	max-width: rem-calc(125);
	height:75vh;
	@include breakpoint(small only){
		height:rem-calc(100);
	}
	&__Link{
		font-size:1.2em;
		svg{
			max-height: rem-calc(24);
			@include breakpoint(small only){
				max-height: rem-calc(18);
				padding-left:1em;
				padding-right:1em;
			}
		}
	}
}
.portfolio_carousel{
	position:relative;
	div{
		width: 100%;
		height: 100%;
	}
	.carouselItem{
		position:relative;
		overflow: hidden;
		img{
			position:absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			height: 100%;
			max-width: none;
		}
	}
	.sectionLink{
		position:absolute;
		left: calc(50% - 110px);
		top: calc(50% - 110px);
		width: rem-calc(220);
		height: rem-calc(220);
	}
}
.sectionLink{
	border:5px solid $white;
	background-color:rgba($medium-gray, .4);
	width: rem-calc(220);
	height: rem-calc(220);
	display: flex;
	align-items: center;
	justify-content: center;
	color: $white;
	transition:all .5s;
	position:relative;
	z-index: 2;
	span{
		transition:all .5s;
	}
	&:hover{
		border-radius:50%;
		background-color:rgba($medium-gray, .9);
		color: $primary-color;
		border:5px solid $primary-color;
		transform: rotate(75deg);
		transition:all .5s;
		transition-timing-function: ease-out;
		cursor: pointer;
		span{
			transform: rotate(-75deg);
			transition:all .5s;
			transition-timing-function: ease-out;
		}
	}
}
#aboutContainer{
	position:relative;
	overflow: hidden;
	#aboutImage{
		position:absolute;
		height: 100%;
		max-width: none;
		z-index: 1;
	}
}

#fp-nav ul li a span{
	background-color: $tertiary-color !important;
}

.menuIcon{
	position:relative;
	width:100%;
	height: rem-calc(28);
	padding:rem-calc(5);
	cursor: pointer;
	span{
		width: rem-calc(36);
		height: rem-calc(4);
		background-color:$primary-color;
		display: block;
		position:absolute;
		left: 50%;
		border-radius:5px;
		transition:.3s;
		@include breakpoint(small only){
			width: rem-calc(28);
		}
		&:first-of-type{
			top: 0;
			transform:translate(-50%, 0);
		}
		&:nth-of-type(2){
			top: 50%;
			transform:translate(-50%, 0);
			background-color:$tertiary-color;
		}
		&:last-of-type{
			top: 100%;
			transform:translate(-50%, 0);
		}
	}
	&:hover{
		span{
			background-color:$tertiary-color;
			transition:.3s;
		}
	}
	&.open{
		span{
			&:first-of-type{
				top: 50%;
				transform:translate(-50%, 0) rotate(45deg);
			}
			&:nth-of-type(2){
				opacity: 0;
			}
			&:last-of-type{
				top: 50%;
				transform:translate(-50%, 0) rotate(-45deg);
				background-color:$tertiary-color;
			}
		}
	}
}

.menu{
	position:fixed;
	width: 100vw;
	z-index: 999;
	background-color:$white;
	padding:0 !important;
	visibility: hidden;
	> .grid-x{
		width: 100vw;
	}
}

#rcLogo{
	max-width: rem-calc(72);
	position:fixed;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	z-index: 50;
	@include breakpoint(medium down){
		display: none;
	}
}

.portfolio{
	&__link{
		h2{
			transition: .3s;
		}
		&:hover{
			h2{
				transform:scale(1.05);
				transition: .3s;
			}
		}
	}
	&__item{
		opacity: .5;
		transition: .3s;
	}
	&__carousel{
		.slick-list{
			padding:0 !important;
		}
	}
}
.slick-center{
	.portfolio{
		&__item{
			opacity: 1;
			transition: .3s;
		}
	}
}
.social{
	svg{
		width: rem-calc(24)
	}
}
.scroll-chevron{
	width: rem-calc(26);
	height: rem-calc(26);
	position: absolute;
	bottom: 3vh;
	left: 50%;
	transform: translateY(-50%) rotate(45deg);
	border-bottom: 3px solid $primary-color;
	border-right: 3px solid $primary-color;
	transition:.3s;
	&:hover{
		margin-top: rem-calc(5);
		cursor: pointer;
		transition:.3s;
	};
}
#portfolioDevelopment, #portfolioDesigner{
	background-size:150%;
}
.sliderButtons{
	position: absolute;
	left:rem-calc(50);
	bottom:rem-calc(50);
	@include breakpoint(small only){
		left:rem-calc(20);
	}
	> div{
		width: rem-calc(36);
		height:rem-calc(75);
		border:3px solid $primary-color;
		display: flex;
		align-items:center;
		justify-content: center;
		transition:.3s;
		svg{
			max-width: rem-calc(15);
			path{
				fill:$primary-color;
				transition:.3s;
			}
		}
		&:hover{
			border-color:$white;
			background-color:$primary-color;
			transition:.3s;
			cursor: pointer;
			svg{
				path{
					fill:$dark-gray;
					transition:.3s;
				}
			}
		}
	}
}
.position-relative{
	position:relative;
}

#backButton{
	position:absolute;
	left: rem-calc(50);
	top: rem-calc(10);
	transition:.3s;
	cursor: pointer;
	z-index: 2;
	@include breakpoint(small only){
		left:rem-calc(20);
		background-color:$light-gray;
	}
	&:hover{
		color: $primary-color;
		transition:.3s;
	}
}